    body {
        background-image: url(img/fundo.jpg);
    }
    
    .cabeçalho {
        height: 90px;
        background: #d96b43dc;
        display: flex;
        justify-content: space-between;
    }
    
    .logo {
        width: 90px;
    }
    
    .menu {
        display: flex;
        font-weight: bold;
        font-size: 20px;
        padding: 30px;
    }
    
    .botao {
        margin: 0 20px;
    }
    
    .botao a {
        text-decoration: none;
    }
    
    .botao:hover {
        color: yellow;
        transform: translateX(10px) scale(1.5);
    }
    
    .logo:hover {
        transform: translateX(10px) scale(1.2);
    }
    
    .galeria {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .doguinho img {
        width: 200px;
        border-radius: 5%;
        margin: 40px 50px;
        max-width: 230px;
    }
    
    #fim {
        text-align: center;
        background-color: #d96b43dc;
    }
    /* INICIO DO RESPONSIVO */
    
    @media (max-width: 600px) {
        * {
            width: auto;
        }
        .menu {
            flex-direction: column;
        }
        .logo {
            width: 110px;
        }
        .doguinho img {
            width: 200px;
        }
    }