
.caixas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #CCCCCC; */
}

.conteudo1{
    width: 61%;
    height: 50px;
    background-color: #CCCCCC;
    font-weight: bold;    
}

.conteudo1 p{
    text-align: center;
    align-items: center;
}

.conteudo2{
    width: 13%;
    height: 50px;
    background-color: #E6CC49;
    text-align: center;
    font-weight: bold;
    justify-items: center;
}

.conteudo3{
    width: 13%;
    height: 50px;
    background-color: #E6CC49;
    text-align: center;
    font-weight: bold;
}

.conteudo4{
    width: 13%;
    height: 50px;
    background-color: #E6CC49;
    text-align: center;
    font-weight: bold;
}

.conteudo1:hover {
    
    font-size: 45px;

}

.conteudo2:hover, .conteudo3:hover, .conteudo4:hover {
    background: purple;
}





@media (max-width: 600px) {
    .caixas{
        flex-direction: column;
        
    }
    .conteudo1{
        display: none;

    }
    .conteudo2{
        width: 100%;

    }
    .conteudo3{
        width:100%

    }
    .conteudo4{
        width: 100%;
    }
}
